body {
    font: 15px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color: #0a0e14;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 10px;
}

.margin_left {
    margin-left: 5px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 2px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.table th {
    font-size: 12px;
}

.left_align {
    float: left;
}

.margin_a {
    margin-left: 30px;
    margin-right: 30px;
}

hr {
    border-top: 1px solid #4ab131;
}

input {
    border: 1px solid #CFCFCF;
}

.footer_div{
    float: right; margin-top: 20px;
}
.footer_img{
    float: right;  margin-left: 10px; margin-right: 10px;
}